body{
    background-color: white;
    color: black;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
.border{
    margin-left:auto;
    margin-right:auto;
    width: 290px;
    border-width: thin;
    border-color: black;
    border-radius: 0.2cm;
    border-style: solid;
}
.noborder{
    border-style: none;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
input[type=button] {
    width: 150px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
