body{
    background-color: white;
    color: black;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
.border{
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    border-width: thin;
    border-color: black;
    border-radius: 0.2cm;
    border-style: solid;
}
.noborder{
    border-style: none;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
table.list{
    border-collapse: collapse;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}
td.list, th.list{
    border: 1px solid #ddd;
    padding: 8px;
}
tr.list:nth-child(even){
    background-color: #eeeeee;
}
tr.list:hover{
    background-color: #ddd;
}
th.list{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #095aa3;
    color: white;
}
table.nestedlist{
    border-collapse: collapse;
    width: 340px;
    margin-left:auto;
    margin-right:auto;
}
td.nestedlist, th.nestedlist{
    border: 1px solid #ddd;
    padding: 8px;
}
tr.nestedlist:nth-child(even){
    background-color: #eeeeee;
}
tr.nestedlist:hover{
    background-color: #ddd;
}
th.nestedlist{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #095aa3;
    color: white;
}
th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    background-color: #0d86f2;
    color: black;
    font-weight: normal;
}
input[type=button] {
    width: 340px;
    background-color: #095aa3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text] {
    width: 340px;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 14px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select.wide{
    width: 340px;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 14px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select.narrow{
    width: 80px;
    margin: 0px 0px;
    display: inline-block;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=number] {
    width: 60px;
    margin: 0px 0px;
    display: inline-block;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #095aa3;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0d86f2;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}